
<!-- ##### Google Maps ##### -->
<div class="map-area">
    <div id="googleMap">
    </div>
</div>

<!-- ##### Contact Area Start ##### -->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <!-- Contact Info -->
            <div class="col-12 col-lg-6">
                <div class="contact--info mt-50 mb-100">
                    <h4>Aloqa ma'lumotlari</h4>
                    <ul class="contact-list">
                        <li>
                            <h6><i class="fa fa-clock-o" aria-hidden="true"></i> Ish vaqti</h6>
                            <h6>9:00 AM - 18:00 PM</h6>
                        </li>
                        <li>
                            <h6><i class="fa fa-phone" aria-hidden="true"></i> Telefon raqami</h6>
                            <h6>+9989 91 911 91 91</h6>
                        </li>
                        <li>
                            <h6><i class="fa fa-envelope" aria-hidden="true"></i> Email</h6>
                            <h6> hitad@nuu.uz</h6>
                        </li>
                        <li>
                            <h6><i class="fa fa-map-pin" aria-hidden="true"></i> Manzil</h6>
                            <h6>Universitet Ko'chasi 4, 100174, Тоshkent</h6>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Contact Form -->
            <div class="col-12 col-lg-6">
                <div class="contact-form">
                    <h4>Xabar yuboring</h4>

                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="text" placeholder="FIO">
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Xabar"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn clever-btn w-100">Yuborish</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
