
            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Asosiy sahifa</h1>

                        </div>
                        <!-- ROW OPEN -->
                        <div class="row">

                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                <div type="button" class="card bg-primary img-card box-primary-shadow">
                                    <a href="talabalar.html">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="text-white">
                                                    <h2 class="mb-0 number-font">Konfrensiya</h2>
                                                    <p class="text-white mb-0">Konfrensiya</p>
                                                </div>
                                                <div class="ms-auto"> <i class="fa fa-user text-white fs-30 me-2 mt-2"></i> </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>


                            </div>
                            <!-- COL END -->
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                <div type="button" class="card bg-secondary img-card box-secondary-shadow">
                                    <a href="guruhlar.html">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="text-white">
                                                    <h2 class="mb-0 number-font">Mualliflar</h2>
                                                    <p class="text-white mb-0">Mualliflar</p>
                                                </div>
                                                <div class="ms-auto"> <i class="fa fa-users text-white fs-30 me-2 mt-2"></i> </div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <!-- COL END -->
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                <div type="button" class="card  bg-success img-card box-success-shadow">
                                    <a href="fanlar.html">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="text-white">
                                                    <h2 class="mb-0 number-font">Maqolalar</h2>
                                                    <p class="text-white mb-0">Maqolalar</p>
                                                </div>
                                                <div class="ms-auto"> <i class="fa fa-file-text text-white fs-30 me-2 mt-2"></i> </div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>

                            <!-- COL END -->
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                                <div type="button" class="card bg-info img-card box-info-shadow">
                                    <a href="rejalar.html">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="text-white">
                                                    <h2 class="mb-0 number-font">Aloqa</h2>
                                                    <p class="text-white mb-0">Aloqa</p>
                                                </div>
                                                <div class="ms-auto"> <i class="fa fa-list text-white fs-30 me-2 mt-2"></i> </div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <!-- COL END -->
                        </div>
                        <!-- ROW CLOSED -->
                    </div>
                    <!-- CONTAINER END -->
                </div>
            </div>
            <!--app-content close-->

       